<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Crop reccomendation</title>
  <!-- This line is used to import a font from the Google Fonts service. It specifies the font family "Pacifico" -->
  <!--and adds it as a stylesheet to the web page. This allows you to use the "Pacifico" font in your HTML and CSS-->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
                                    <!--Folder name-->
</head>

<body>
 <div class="login">
 <!--This <div> element has the CSS class "login,"-->
  <!--which is likely used for styling purposes. It might be part of a login or user input section.-->
	<h1>Crop Reccomendation System</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="Nitrogen" placeholder="Nitrogen" required="required" /><br>
    	<input type="text" name="Phosphorus" placeholder="Phosphorus" required="required" /><br>
        <input type="text" name="Pottasium" placeholder="Pottasium" required="required" /><br>
        <input type="text" name="Name_of_the_city" placeholder="Name of the city" required="required" /><br>
        <input type="text" name="Rainfall" placeholder="Rainfall(in mm)" required="required" /><br>
        <input type="text" name="ph" placeholder="pH" required="required" /><br>
       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>